transformers
dotenv
torch
torchvision
torchaudio

python-dotenv
dotenv

langchain
langchain-community
langchain-core
langchain-experimental

langchain-openai
langchain-google-genai
langchain-huggingface
langchain-groq
langchain-anthropic

ipykernel
